* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* pagina de carga */
#cargaLogo {
    background: radial-gradient(#706381, #635772);
    /* background: #706381; */
    width: 100%;
    height: 100vh;
    position: fixed;
    transition: all 1s;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carga {
    margin: auto;
}
.carga img {
    /* NOTA esta medida es para el responsive
    width: 250px; */
    width: 470px;
}
.borrarCarga {
    visibility: hidden;
    opacity: 0;
}
/* /pagina de carga */

.inputError{
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.5);
}
a{
    text-decoration: none;

}
/* ESTILOS PARA LA PÁGINA DE AUTORAS */
.autorContenedor {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background: #E8E7E4;
    text-align: center;
    border-radius: 10px;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "fotoAda bioAda bioAda"
                         "titulo titulo titulo";
}
.autorContenedor h1 {
    padding: 50px;
    margin: 20px 0px 40px 0px;
    /* grid-column: 1 / -1; */
    grid-area: titulo;
}
.imagenAda {
    padding: 20px;
    grid-area: fotoAda;
}
.imagenAda img {
    width: 300px;
    border-radius: 50%;
}
.adaBio {
    padding: 20px;
    /* grid-column: 2 / span 2; */
    grid-area: bioAda;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.autora {
    padding: 20px;
    text-align: center;
}
.autora img {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px gray;
}
@media screen and (max-width: 375px) {
    .autorContenedor {
        grid-template-columns: 1fr;
        grid-template-areas: "fotoAda"
                             "bioAda"
                             "titulo";
    }
    .imagenAda img {
        width: 200px;
    }
    .autorContenedor h1 {
        padding: 0px;
        margin: 40px 0px 40px 0px;
    }
}
/* /ESTILOS PARA LA PÁGINA DE AUTORAS */